{% extends "base.html" %} {% block title %}Service Record Activation{% endblock %} {% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <form id="formData">
                    <div class="form-group" style="margin-top: 100px;">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="passord">Activation Code</label>
                        <input name="password" type="text" class="form-control" id="Password" placeholder="Activation Code">
                    </div>

                    <button type="submit" class="btn btn-primary">Activate</button>
                </form>
            </div>
            <div class="col-lg-4">
                <!-- <img src="/images/splash.png" alt="" style="width: 500px; height: 500px;"> -->
            </div>

        </div>

    </div>
    <script>
        $(document).ready(function() {

            $("#formData").submit(function() {
                var phone = $("#phone").val()
                var password = $("[name=password]").val()

                console.log(phone, password)

                eel.activate_account(phone, password)(function(value) {
                    if (value == true) {
                        window.location = 'dashboard.html'
                    }
                    else{
                        debugger;
                        toastr.error(value['message']);
                    }

                });
                return false
            });

        });
    </script>
    {% endblock %}