{% extends "base.html" %} {% block title %}Add Device{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Service Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Device</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <form id="formData">
                <input type="hidden" name="csrfmiddlewaretoken" value="euy0cRBgCyPquUVgvOK1QwvVyweJnsSh6TIW2VbXeMRjKxGJPTe3oDWHNhhPL62h">
                <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
Name<span class="asteriskField">*</span> </label>
                    <div class=""> <input type="text" name="name" maxlength="200" class="textinput textInput form-control" required id="id_name"> </div>
                </div>
                <div id="div_id_serial_number" class="form-group"> <label for="id_serial_number" class="">
Serial number
</label>
                    <div class=""> <input type="text" name="serial_number" maxlength="200" class="textinput textInput form-control" id="id_serial_number"> </div>
                </div>
                <div id="div_id_warranty_period" class="form-group"> <label for="id_warranty_period" class="">
Warranty period
</label>
                    <div class=""> <input type="number" name="warranty_period" class="numberinput form-control" id="id_warranty_period"> <small id="hint_id_warranty_period" class="form-text text-muted">In Months</small> </div>
                </div>
                <div id="div_id_vendor" class="form-group"> <label for="id_vendor" class="">
Vendor
</label>
                    <div class=""> <select name="vendor" class="select form-control" id="id_vendor"> <option value="" selected>---------</option>
</select> </div>
                </div>
                <div id="div_id_product_amount" class="form-group"> <label for="id_product_amount" class=" requiredField">
Product amount<span class="asteriskField">*</span> </label>
                    <div class=""> <input type="number" name="product_amount" value="0" step="1" min="o" class="numberinput form-control" required id="id_product_amount"> </div>
                </div>
                <div class="padding d-flex justify-content-end">
                    <button name='submit' type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>


        </div>
    </div>
    <script>
        getParameter = (key) => {

            address = window.location.search


            parameterList = new URLSearchParams(address)

            return parameterList.get(key)
        }

        // Gets the value associated with the key "ie"
        console.log(getParameter("id"))
        var id = getParameter("id")
        $(document).ready(function() {

            eel.get_vendor()(function(vendor_val) {

                var vendor = $("[name='vendor']")
                for (let index = 0; index < vendor_val.length; index++) {
                    const element3 = vendor_val[index];
                    vendor.append(`<option value="${element3[0]}">${element3[1]}</option>`)

                }

            });

            $("#formData").submit(function() {

                var name = $("[name='name']").val()
                var serial_number = $("[name='serial_number']").val()
                var warranty_period = $("[name='warranty_period']").val()
                var vendor = $("#id_vendor").val()
                var product_amount = $("[name='product_amount']").val()
                debugger;
                data = {
                    "issue_id": id,
                    "name": name,
                    "serial_number": serial_number,
                    "warranty_period": warranty_period,
                    "vendor": vendor,
                    "product_amount": product_amount,
                }

                eel.add_device(data)(function(value) {
                    if (value == true) {
                        window.location = 'javascript: history.go(-1)'
                    }
                })

            });
        });
    </script>
    {% endblock %}