{% extends "base.html" %} {% block title %}Add Service{% endblock %} {% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Service</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <form id="formData">


                    <div class="form-row form-row">
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_customer_name" class="form-group"> <label for="id_customer_name" class="">
Name<span class="asteriskField">*</span>
</label>
                                <div class=""> <input type="text" name="customer_name" maxlength="200" class="textinput textInput form-control" required id="id_customer_name"> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_contact_number" class="form-group"> <label for="id_contact_number" class="">
Contact number
</label>
                                <div class=""> <input type="text" name="contact_number" maxlength="13" class="textinput textInput form-control" id="id_contact_number"> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_email" class="form-group"> <label for="id_email" class="">
Email
</label>
                                <div class=""> <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-row">
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_product_type" class="form-group"> <label for="id_product_type" class="">
Product type
</label>
                                <div class=""> <select name="product_type" class="select form-control custom-select" id="id_product_type"> 
                                            <option value="" selected>---------</option> 
                                            
        
</select> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_serial_number" class="form-group"> <label for="id_serial_number" class="">
Serial number
 </label>
                                <div class=""> <input type="text" name="serial_number" maxlength="200" class="textinput textInput form-control" id="id_serial_number"> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_location" class="form-group"> <label for="id_location" class="">
Location
</label>
                                <div class=""> <input type="text" name="location" maxlength="200" class="textinput textInput form-control" id="id_location"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_service_code" class="form-group"> <label for="id_service_code" class="">
Service code
</label>
                                <div class=""> <input type="number" name="service_code" value="1002" class="numberinput form-control" id="id_service_code"> </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_status" class="form-group"> <label for="id_status" class=" requiredField">
Status<span class="asteriskField">*</span> </label>
                                <div class=""> <select name="status" class="select form-control custom-select" id="id_status"> <option value="0" selected>Open</option> <option value="1">In Progres</option> <option value="2">Closed</option> <option value="3">Return</option>
</select> </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_assigned_to" class="form-group"> <label for="id_assigned_to" class=" requiredField">
Assigned to<span class="asteriskField">*</span> </label>
                                <div class=""> <select name="assigned_to" class="select form-control custom-select" required id="id_assigned_to">
                                             <option value="" selected>---------</option> 
                                             
</select> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_vendor" class="form-group"> <label for="id_vendor" class="">
Vendor
</label>
                                <div class=""> <select name="vendor" class="select form-control custom-select" id="id_vendor"> 
                                            <option value="" selected>---------</option>
</select> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_complaints" class="form-group"> <label for="id_complaints" class="">
Issue Details<span class="asteriskField">*</span>
</label>
                                <div class=""> <textarea name="complaints" cols="5" rows="5" class="textarea form-control" required id="id_complaints"></textarea> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_device_details" class="form-group"> <label for="id_device_details" class="">
Device details<span class="asteriskField">*</span>
</label>
                                <div class=""> <textarea name="device_details" cols="5" rows="5" class="textarea form-control" required id="id_device_details"></textarea> </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />

                </form>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        eel.get_product()(function(value) {
            console.log(value)

            var products = $("[name='product_type']")
            for (let index = 0; index < value.length; index++) {
                const element1 = value[index];
                products.append(`<option value="${element1[0]}">${element1[1]}</option>`)

            }
        });

        eel.get_staff()(function(staff_val) {

            var assigned_to = $("[name='assigned_to']")
            for (let index = 0; index < staff_val.length; index++) {
                const element2 = staff_val[index];
                assigned_to.append(`<option value="${element2[0]}">${element2[1]}</option>`)

            }

        });

        eel.get_vendor()(function(vendor_val) {

            var vendor = $("[name='vendor']")
            for (let index = 0; index < vendor_val.length; index++) {
                const element3 = vendor_val[index];
                vendor.append(`<option value="${element3[0]}">${element3[1]}</option>`)

            }

        });

        eel.get_service_code()(function(code) {

            var service_code = $("[name='service_code']")
            service_code.val(Number(code) + 1)


        });


    });


    $(document).ready(function() {
        $("#formData").submit(function() {
            var name = $("[name='customer_name']").val()
            var contact_number = $("[name='contact_number']").val()
            var email = $("[name='email']").val()
            var shop_name = $("[name='shop_name']").val()
            var service_code = $("[name='service_code']").val()
            var status = $("[name='status']").val()
            var product_type = $("[name='product_type']").val()
            var serial_number = $("[name='serial_number']").val()

            var location = $("[name='location']").val()
            var assigned_to = $("[name='assigned_to']").val()
            var vendor = $("[name='vendor']").val()
            var complaints = $("[name='complaints']").val()

            var device_details = $("[name='device_details']").val()
            var service_charge = $("[name='service_charge']").val()
            var data = {
                "name": name,
                "contact_number": contact_number,
                "email": email,
                "shop_name": shop_name,
                "service_code": service_code,
                "status": status,
                "product_id": product_type,
                "serial_number": serial_number,
                "location": location,
                "assigned_id": assigned_to,
                "vendor_id": vendor,
                "complaints": complaints,
                "device_details": device_details,
            }
            eel.add_new_service(data)(function(value) {

                window.location = `service-details.html?id=${value}`

            })
            console.log(data)
            return false
        });
    });
    eel.get_service_list()
</script>

{% endblock %}