{% extends "base.html" %} {% block title %}Add Product{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Product List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <form id="formData"><input type="hidden" name="csrfmiddlewaretoken" value="6vOmjY6x5KEd3CddamhpBbmh5orLaZs3csNYi9XtgxuuyAXFc1ajrscPPQ1F5OPi">
            <input type="hidden" name="csrfmiddlewaretoken" value="6vOmjY6x5KEd3CddamhpBbmh5orLaZs3csNYi9XtgxuuyAXFc1ajrscPPQ1F5OPi">
            <div class="form-row form-row">
                <div class="form-group col-md-12 mb-0">
                    <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
Name<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="text" name="name" maxlength="200" class="textinput textInput form-control" required id="id_name"> </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#formData").submit(function() {

            var name = $("[name='name']").val()


            eel.add_product(name)(function(value) {
                if (value == true) {
                    window.location = 'javascript: history.go(-1)'
                }
            })

        });
    });
</script>
{% endblock %}