<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Record</title>
    <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/delete-confirm.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/print.min.js"></script>
    <!-- <link rel="stylesheet" href="/web/css/bootstrap.min.css"> -->
    <!-- <script src="/web/js/bootstrap.min.js"></script> -->
    <!-- <script src="/web/js/jquery-ui.js"></script> -->
    <!-- <script src="/web/js/jquery-3.6.0.js"></script> -->
    <script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/ionicons/css/ionicons.min.css">
    <script src="/js/toastr.min.js"></script>
    <link rel="stylesheet" href="/css/toastr.css">

</head>

<body style="margin-top: 20px;">
    <h2 style="text-align: center;">{% block title %}{% endblock %}</h2>


    <div class="container">
        {% block content %}{% endblock %}

    </div>
    <script>
        // Drop down js
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("status").classList.toggle("show");
            console.log('menu button clicked')
        }
        $(document).ready(function() {
            $('#menu').click(function() {
                this.classList.toggle("show");
            });
        });

        function menuFunction() {
            document.getElementById("menu").classList.toggle("show");
        }


        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</body>



</html>