 {% extends "base.html" %} {% block title %}{% endblock %} {% block content %}

<div class="raw">


    <div class="row">
        <div class="col-lg-5">
            <div style=" padding-left: 4px;padding-bottom: 5px;">
                <div class="d-none d-lg-block d-flex ">
                    <a href="payment_pending.html">
                        <button type="button" class="btn btn-danger"><b id="pending"> </b><span
                            class=" d-flex justify-content-center"> </span></button>

                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-7">
            <div>
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>







    <form id="search">
        <div class="input-group mb-3" style="padding-left: 500px;">

            <input type="text" class="form-control" placeholder="Name/Service Code/Phone/shope" aria-label="Recipient's username" name="search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="submit" class="btn btn-outline-success" type="submit">Search</button>
            </div>


        </div>
    </form>
    <div style="padding-top: 10px;">



        <a style="padding-bottom: 10px;display:inline-block;" href="add_new_service.html"> <button type="button" class="btn btn-secondary">Add
                    new</button></a>

        <div style="display:inline-block;    padding-left: 375px">
            <a href="dashboard.html"> <button id="count" type="button" class="btn btn-primary " style="display:inline-block;"> </span></button></a>
        </div>


        <div style="padding-bottom: 10px;float: right;">

            <div class="dropdown" style="padding-right: 20px;">
                <button style="border-radius: 4px;" onclick="menuFunction()" class="dropbtn btn btn-warnning">Select Menu</button>
                <div id="menu" class="dropdown-content">
                    <a href="vendor_list.html">Vendors</a>
                    <a href="product_list.html">Product</a>
                    <a href="staff_list.html">Staff</a>
                    <a href="report.html">Reports</a>
                    <a href="profile.html">Profile</a>
                    <a href="http://servicerecord.in" target="_blank">About</a>

                </div>
            </div>

            <div class="dropdown" style="float: right;">
                <button style="border-radius: 5px;" onclick="myFunction()" class="dropbtn">Status</button>
                <div id="status" class="dropdown-content">
                    <!-- <a href="?all=0,1,2,3">All</a> -->
                    <a href="?status=0">Open</a>
                    <a href="?status=1">Closed</a>
                    <a href="?status=2">Return</a>
                </div>
            </div>
        </div>

    </div>



    <table id="tableData" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sl.No</th>
                <th scope="col">Name</th>
                <th scope="col">Product</th>
                <th scope="col">Service Code</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- <div id="pagination" class="pagination">
        <a id="next" href="#">❮</a>
        <a id="prevouse" href="#">❯</a>
      </div> -->

    <nav id="pagination" aria-label="Page navigation example" style="display: inline-block;">
        <ul class="pagination">
            <li class="page-item " id="prevouseDesable">
                <a class="page-link" id="prevouse" href="#">❮</a>
            </li>
            <li class="page-item" id="nextDesable">
                <a class="page-link" id="next" href="#">❯</a>
            </li>
        </ul>
    </nav>
    <span id="pageNo" style="display: inline-block;"></span>

    <!-- <div class="col-lg-12">
        <div id="service-card" style="width: 100%;">

        </div>
    </div> -->
    <div id="loading" class="modal modal2">
        <div class="loader spinner"></div>
    </div>
</div>


<script type="text/javascript">
    function getServiceList() {
        var status = ['Open', 'Closed', 'Return']
        eel.get_service_list()(function(data) {
            $("#pagination").hide()
            $("#pageNo").hide()
            console.log(data)
            value = data['data']
            if (data == false) {
                debugger;
                // window.open('http://localhost:8000/templates/activate.html');
                window.location = 'activate_screen.html'
            }
            if (value.length == 0) {
                document.getElementById('loading').style.display = 'none'
                $("[name='search']").show();
                var table = $('tbody')
                table.append('<tr><td style="text-align:center;" colspan="8">No data available</td></tr>')
            }

            if (data['next'] == true) {
                $("#pageNo").show()
                $("#pagination").show()
                $("#prevouse").attr('disabled');
                $("#next").prop("disabled", false);

            }

            console.log(value)
            console.log('service list')
            var table = $('tbody')
            var tdData = ''
            var card = $('#service-card')

            for (let index = 0; index < value.length; index++) {
                const element = value[index];
                console.log(element)
                var date = new Intl.DateTimeFormat('en-IN', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric'
                }).format(new Date(element[5]))

                var td = document.createElement('tr');
                var td = `<tr><td scope="row">${index+1}</td><td scope="row">${element[0]}<td><td scope="row">${element[1]}<td><td scope="row">${element[2]}<td><td scope="row">${status[element[3]]}</td><td scope="row">${element[4]}<td><td scope="row">${date}<td> 
                     <td scope="row"><a href="service-details.html?id=${element[6]}"><button type="button"class="btn btn-primary">View</button></a><td> </tr>`

                tdData = tdData + td

            }


            table.append(tdData)
            $("td").each(function() {
                console.log(this.length)
                if (this.innerText === '') {
                    this.remove();
                }
                document.getElementById('loading').style.display = 'none'
                $("[name='search']").show();
            });

            if (data['next'] == true) {

                $("#next").attr("href", `dashboard.html?page=${data['current_page']+1}&status=${data['status']}`);
                $("#pageNo").text(`Page ${data['current_page']} of ${data['pages']}`)
            } else {
                $("#nexteDesable").addClass("disabled");
                $("#pageNo").text(`Page ${data['current_page']} of ${data['pages']}`)
            }

            if (data['prevouse'] == true) {
                $("#prevouse").attr("href", `dashboard.html?page=${data['current_page']-1}&status=${data['status']}`);
                $("#pageNo").show()
            } else {
                $("#prevouseDesable").addClass("disabled");
            }

        });
    }

    getParameter = (key) => {

        address = window.location.search


        parameterList = new URLSearchParams(address)

        return parameterList.get(key)
    }


    $(document).ready(function() {

        document.getElementById('loading').style.display = 'block'
        $("[name='search']").hide();
        eel.count_services()(function(value) {
            $('#count').text(`${value['count']} Opens`)
            $('#pending').text(`Pending Payment ₹ ${value['pending']}`)

        })


        // Gets the value associated with the key "ie"
        var status = getParameter("status")
        var page = getParameter("page")
        var search_val = getParameter("search")
        console.log('staus')


        if (status != null || page != null) {
            console.log(status, page)
            search(search_val, status, page)
        } else {
            getServiceList()
        }








    });


    $(document).ready(function() {
        $(document.body).on("click", "div[data-href]", function() {
            window.location.href = `service-details.html?id=${this.dataset.href}`;
        })
    })

    // search service details 

    $(document).ready(function() {
        $("#search").submit(function() {
            var name = $("[name='search']").val()
            var status = ''
            var page = getParameter("page")
            if (name != '') {
                search(name, status, page)
                return false
            } else {
                return true
            }
        });
    });

    $(document).ready(function() {

    });


    function search(search_val = null, term = null, page = 1) {
        $("#pageNo").hide()
        $("#pagination").hide()
            // var name = $("[name='search']").val()
        console.log(search_val)

        if (page == null) {
            page = 1
        }
        var status = ['Open', 'Closed', 'Return']
        eel.search_service(search_val, term, page)(function(data) {

            if (data == false) {
                window.location = 'activate.html'
            }
            value = data['data']
            console.log(data)
            var table = $('tbody')
            var tdDataSearch = ''
            var card = $('#service-card')
            $("#tableData").find("tr:gt(0)").remove();

            if (data['next'] == true) {
                $("#pageNo").show()
                $("#pagination").show()
                $("#prevouse").attr('disabled');
                // $("#next").prop( "disabled", false );

            }


            for (let index = 0; index < value.length; index++) {
                const element = value[index];
                console.log(element)
                var date = new Intl.DateTimeFormat('en-IN', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric'
                }).format(new Date(element[5]))

                var td = document.createElement('tr');
                var td = `<tr><td scope="row">${index+1}</td><td scope="row">${element[0]}<td><td scope="row">${element[1]}<td><td scope="row">${element[2]}<td><td scope="row">${status[element[3]]}</td><td scope="row">${element[4]}<td><td scope="row">${date}<td> 
                     <td scope="row"><a href="service-details.html?id=${element[6]}"><button type="button"class="btn btn-primary">View</button></a><td> </tr>`

                tdDataSearch = tdDataSearch + td

            }


            table.append(tdDataSearch)
            $("td").each(function() {
                console.log(this.length)
                if (this.innerText === '') {
                    this.remove();
                }
            });
            $("[name='search']").show();
            document.getElementById('loading').style.display = 'none'
                // -------------------------
            if (data['next'] == true) {

                $("#next").attr("href", `dashboard.html?page=${data['current_page']+1}&status=${data['status']}&search=${data['search_text']}`);
                $("#pageNo").text(`Page ${data['current_page']} of ${data['pages']}`)

            } else {
                $("#nextDesable").addClass("disabled");
                $("#pageNo").text(`Page ${data['current_page']} of ${data['pages']}`)
            }

            if (data['prevouse'] == true) {
                $("#prevouse").attr("href", `dashboard.html?page=${data['current_page']-1}&status=${data['status']}&search=${data['search_text']}`);
                $("#pageNo").show()
                $("#pagination").show()
            } else {
                $("#prevouseDesable").addClass("disabled");
            }
            // -------------------------
            if (data['search_text'] != '' || data['search_text'] != 'null') {
                $("[name='search']").val(data['search_text'])
            }

        });

    };
    // });
</script>
{% endblock %}