{% extends "base.html" %} {% block title %}Edit Staff{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Staff List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Staff</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <form id="formData"><input type="hidden" name="csrfmiddlewaretoken" value="6vOmjY6x5KEd3CddamhpBbmh5orLaZs3csNYi9XtgxuuyAXFc1ajrscPPQ1F5OPi">
            <div class="form-row form-row">
                <div class="form-group col-md-6 mb-0">
                    <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
Name<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="text" name="name" maxlength="200" class="textinput textInput form-control" required id="id_name"> </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
        </form>
    </div>
</div>
<script>
    getParameter = (key) => {

        address = window.location.search


        parameterList = new URLSearchParams(address)

        return parameterList.get(key)
    }

    // Gets the value associated with the key "ie"
    console.log(getParameter("id"))
    var id = getParameter("id")

    $(document).ready(function() {
        eel.get_one_staff(id)(function(value) {
            console.log(value)
            $("[name='name']").val(value[1])

        })
    });

    $(document).ready(function() {


        $("#formData").submit(function() {

            var name = $("[name='name']").val()


            eel.update_staff(name, id)(function(value) {
                if (value == true) {
                    window.location = 'javascript: history.go(-1)'
                }
            })

        });
    });
</script>
{% endblock %}