{% extends "base.html" %} {% block title %} Edit Profile{% endblock %} {% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <form id="formData">
                    <div class="form-row form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_customer_name" class="form-group"> <label for="id_customer_name" class="">
Name
</label>
                                <div class=""> <input type="text" name="name" maxlength="200" class="textinput textInput form-control" id="id_customer_name"> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div id="div_id_contact_number" class="form-group"> <label for="id_contact_number" class="">
Email
</label>
                                <div class=""> <input type="email" name="email" class="textinput textInput form-control" id="id_contact_number"> </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="form-group col-md-12 mb-0">
                            <div id="div_id_service_code" class="form-group"> <label for="address" class="">
Address
</label>
                                <div class=""> <input type="text" name="address" value="1002" class="numberinput form-control" id="address"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-row">
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_product_type" class="form-group"> <label for="phone1" class="">
Phone 1
</label>
                                <div class="">
                                    <input type="number" name="phone1" value="1002" class="numberinput form-control" id="phone1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_serial_number" class="form-group"> <label for="phone2" class="">
Phone 2
 </label>
                                <div class=""> <input type="text" name="phone2" maxlength="200" class="textinput textInput form-control" id="phone2"> </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <div id="div_id_location" class="form-group"> <label for="id_location" class="">
Web Site
</label>
                                <div class=""> <input type="text" name="website" maxlength="200" class="textinput textInput form-control" id="id_location"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-row">
                        <div class="form-group col-md-12 mb-0">
                            <div id="div_id_assigned_to" class="form-group"> <label for="logo" class=" requiredField">
Logo</label>
                                <div class="">
                                    <input type="text" name="logo" maxlength="200" class="textinput textInput form-control" id="logo">
                                </div>
                                <img id="logoImg" src="" width="50" height="50" alt="">
                            </div>
                        </div>
<label for="image">remove logo</label>
<input type="checkbox" name="image" id="image">
                    </div>
                    <div class="form-row form-row">
                        <div class="form-group col-md-12 mb-0">
                            <div id="div_id_device_details" class="form-group"> <label for="id_device_details" class="">
Terms and Conditions
</label>
                                <div class=""> <textarea name="terms" cols="5" rows="5" class="textarea form-control" id="id_device_details"></textarea> </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
                </form>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $("#formData").submit(function() {
            var name = $("[name='name']").val()
            var address = $("[name='address']").val()
            var email = $("[name='email']").val()
            var phone1 = $("[name='phone1']").val()
            var phone2 = $("[name='phone2']").val()
            var website = $("[name='website']").val()
            var logo = $("[name='logo']").val()
            var terms = $("[name='terms']").val()
            var image = $("[name='image']").val()

            var data = {
                "name": name,
                "address": address,
                "email": email,
                "phone1": phone1,
                "phone2": phone2,
                "website": website,
                "logo": logo,
                "terms": terms,
                "image":image
            }

            console.log(data)
            eel.update_profile(data)(function(value) {
                if (value == true) {
                    window.location = 'profile.html'
                }
                else{
                    toastr.error("logo Not Found");
                }
            });
            return false
        });
    });

    $(document).ready(function() {
        eel.get_profile()(function(output) {

            $("[name='name']").val(output[1])
            $("[name='email']").val(output[5])
            $("[name='address']").val(output[2])
            $("[name='phone1']").val(output[3])
            $("[name='phone2']").val(output[4])
            $("[name='website']").val(output[6])
            $('#logoImg').attr('src', `/images/${output[7]}`)
            $("[name='terms']").val(output[8])
            $("[name='logo']").val(output[7])


            // $('#email').text(data[2])
        });
        // select product


    });
</script>
{% endblock %}