{% extends "base.html" %} {% block title %} Edit Service Details{% endblock %} {% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Service Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Service Details</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <form autocomplete="off" method="post" class="uniForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="RX9uQ0hG47kaMItmv1ZeTFwX8fjS64K2oG6Whg7vkqGwKi3GusRquMjEHoKQOpIF">
                    <form method="post"> <input type="hidden" name="csrfmiddlewaretoken" value="RX9uQ0hG47kaMItmv1ZeTFwX8fjS64K2oG6Whg7vkqGwKi3GusRquMjEHoKQOpIF">
                        <div class="form-row form-row">
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_customer_name" class="form-group"> <label for="id_customer_name" class="">
Name
</label>
                                    <div class=""> <input type="text" name="customer_name" maxlength="200" class="textinput textInput form-control" id="id_customer_name"> <small id="hint_id_customer_name" class="form-text text-muted">Enter name or select customer</small>                                        </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_contact_number" class="form-group"> <label for="id_contact_number" class="">
Contact number
</label>
                                    <div class=""> <input type="text" name="contact_number" maxlength="13" class="textinput textInput form-control" id="id_contact_number"> </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_email" class="form-group"> <label for="id_email" class="">
Email
</label>
                                    <div class=""> <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email"> </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="form-group col-md-6 mb-0">
                                <div id="div_id_service_code" class="form-group"> <label for="id_service_code" class="">
Service code
</label>
                                    <div class=""> <input type="number" name="service_code" value="1002" class="numberinput form-control" id="id_service_code"> </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <div id="div_id_status" class="form-group"> <label for="id_status" class=" requiredField">
Status<span class="asteriskField">*</span> </label>
                                    <div class=""> <select name="status" class="select form-control custom-select" id="id_status"> <option value="0" selected>Open</option> <option value="1">In Progres</option> <option value="2">Closed</option> <option value="3">Return</option>
</select> </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-row">
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_product_type" class="form-group"> <label for="id_product_type" class="">
Product type
</label>
                                    <div class=""> <select name="product_type" class="select form-control custom-select" id="id_product_type"> 
                                            <option value="" selected>---------</option> 
                                            
        
</select> </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_serial_number" class="form-group"> <label for="id_serial_number" class="">
Serial number
 </label>
                                    <div class=""> <input type="text" name="serial_number" maxlength="200" class="textinput textInput form-control" id="id_serial_number"> </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                <div id="div_id_location" class="form-group"> <label for="id_location" class="">
Location
</label>
                                    <div class=""> <input type="text" name="location" maxlength="200" class="textinput textInput form-control" id="id_location"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-row">
                           
                            <div class="form-group col-md-6 mb-0">
                                <div id="div_id_vendor" class="form-group"> <label for="id_vendor" class="">
Vendor
</label>
                                    <div class=""> <select name="vendor" class="select form-control custom-select" id="id_vendor"> 
                                            <option value="" selected>---------</option>
</select> </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-row">
                            <div class="form-group col-md-6 mb-0">
                                <div id="div_id_device_details" class="form-group"> <label for="id_device_details" class="">
Device details
</label>
                                    <div class=""> <textarea name="device_details" cols="5" rows="5" class="textarea form-control" id="id_device_details"></textarea> </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        eel.get_product()(function(value) {
            console.log(value)

            var products = $("[name='product_type']")
            for (let index = 0; index < value.length; index++) {
                const element1 = value[index];
                products.append(`<option value="${element1[0]}">${element1[1]}</option>`)

            }
        });

        eel.get_staff()(function(staff_val) {

            var assigned_to = $("[name='assigned_to']")
            for (let index = 0; index < staff_val.length; index++) {
                const element2 = staff_val[index];
                assigned_to.append(`<option value="${element2[0]}">${element2[1]}</option>`)

            }

        });

        eel.get_vendor()(function(vendor_val) {

            var vendor = $("[name='vendor']")
            for (let index = 0; index < vendor_val.length; index++) {
                const element3 = vendor_val[index];
                vendor.append(`<option value="${element3[0]}">${element3[1]}</option>`)

            }

        });



    });
    // auto populate the form data 
    getParameter = (key) => {

        address = window.location.search


        parameterList = new URLSearchParams(address)

        return parameterList.get(key)
    }

    // Gets the value associated with the key "ie"
    console.log(getParameter("id"))


    // submit the form data 
    $(document).ready(function() {
        $("[name='submit']").click(function() {
            var name = $("[name='customer_name']").val()
            var contact_number = $("[name='contact_number']").val()
            var email = $("[name='email']").val()
            var service_code = $("[name='service_code']").val()
            var status = $("[name='status']").val()
            var product_type = $("[name='product_type']").val()
            var serial_number = $("[name='serial_number']").val()
            var location = $("[name='location']").val()
            var assigned_to = $("[name='assigned_to']").val()
            var vendor = $("[name='vendor']").val()
            var device_details = $("[name='device_details']").val()
            var service_charge = $("[name='service_charge']").val()

            var id = getParameter("id")
            var data = {
                "id": id,
                "name": name,
                "contact_number": contact_number,
                "email": email,
                "service_code": service_code,
                "status": status,
                "product_id": product_type,
                "serial_number": serial_number,
                "location": location,
                // "assigned_id": assigned_to,
                "vendor_id": vendor,
                "device_details": device_details,
                "service_charge": service_charge
            }
            eel.update_service_details(data)(function(value) {
                if (value == true) {
                    window.location = `service-details.html?id=${id}`
                }
            })
            console.log(data)

        });
    });
    eel.get_service_list()


    $(document).ready(function() {
        var id = getParameter("id")

        eel.edit_service_details(id)(function(output) {
            console.log(output)
            var data = output[0]

            $("[name='customer_name']").val(data[1])
            $("[name='contact_number']").val(data[2])
            $("[name='email']").val(data[3])
            $("[name='service_code']").val(data[8])
            $("[name='location']").val(data[4])
            $("[name='device_details']").val(data[7])

            $("[name='product_type']").val(data[6])
            $("[name='status']").val(data[9])
            // $("[name='assigned_to']").val(data[10])
            $("[name='vendor']").val(data[10])
            $("[name='serial_number']").val(data[5])

            // $('#email').text(data[2])
        });
        // select product


    });
</script>
{% endblock %}