{% extends "base.html" %} {% block title %}Service Details{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Service Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Device Issue</li>
    </ol>
</nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="form-row form-row">
                <div class="form-group col-md-6 mb-0">
                    <div id="div_id_issue" class="form-group"> <label for="id_issue" class=" requiredField">
Issue Details<span class="asteriskField">*</span> </label>
                        <div class=""> <textarea name="issue" cols="40" rows="10" class="textarea form-control" required id="id_issue"></textarea> </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-0">
                    <div id="div_id_service_details" class="form-group"> <label for="id_service_details" class="">
Service Details
</label>
                        <div class=""> <textarea name="service_details" cols="40" rows="10" class="textarea form-control" id="id_service_details"></textarea> </div>
                    </div>
                </div>
            </div>
            <div class="form-row form-row">
                <div class="form-group col-md-4 mb-0">
                    <div id="div_id_assigned_to" class="form-group"> <label for="id_assigned_to" class=" requiredField">
Assigned to<span class="asteriskField">*</span> </label>
                        <div class=""> <select name="assigned_to" class="select form-control custom-select" required id="id_assigned_to">
                                 <option value="" selected>---------</option> 
                                 
</select> </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <div id="div_id_paid_amount" class="form-group"> <label for="id_paid_amount" class=" requiredField">
Paid amount<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="number" name="paid_amount" value="0.00" step="0.01" class="numberinput form-control" required id="id_paid_amount"> </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <div id="div_id_pending_amount" class="form-group"> <label for="id_pending_amount" class=" requiredField">
Pending amount<span class="asteriskField">*</span> </label>
                        <div class=""> <input type="number" name="pending_amount" value="0.00" step="0.01" class="numberinput form-control" required id="id_pending_amount"> </div>
                    </div>
                </div>
              
            </div>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" /> </form>

        </div>

        <script>
            getParameter = (key) => {

                address = window.location.search


                parameterList = new URLSearchParams(address)

                return parameterList.get(key)
            }

            // Gets the value associated with the key "ie"
            console.log(getParameter("id"))
            var id = getParameter("id")
            $(document).ready(function() {

                eel.get_staff()(function(staff_val) {

                    var assigned_to = $("[name='assigned_to']")
                    for (let index = 0; index < staff_val.length; index++) {
                        const element2 = staff_val[index];
                        assigned_to.append(`<option value="${element2[0]}">${element2[1]}</option>`)

                    }

                    });

                // get issue details and populate the issue 
                eel.get_issue_details(id)(function(value) {
                    console.log(value)
                    $("[name='issue']").val(value[2])
                    $("[name='service_details']").val(value[5])
                    $("[name='paid_amount']").val(value[3])
                    $("[name='pending_amount']").val(value[4])
                    $("[name='assigned_to']").val(value[6])

                    var service_id = value[1]

                })

                // submit edited issue 
                $("[name='submit']").click(function() {
                    var issue = $("[name='issue']").val()
                    var service_details = $("[name='service_details']").val()
                    var paid_amount = $("[name='paid_amount']").val()
                    var pending_amount = $("[name='pending_amount']").val()
                    var service_charge = $("[name='service_charge']").val()
                    var assigned_to = $("[name='assigned_to']").val()
                    data = {
                        "id": id,
                        "issue": issue,
                        "service_details": service_details,
                        "paid_amount": paid_amount,
                        "pending_amount": pending_amount,
                        "service_charge": service_charge,
                        "assigned_to":assigned_to

                    }

                    eel.update_issue_details(data)(function(value) {
                        if (value == true) {
                            window.location = 'javascript: history.go(-1)'
                        }
                    })

                });
            });
        </script>

        {% endblock %}