{% extends "base.html" %} {% block title %}Pending Payment{% endblock %} {% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payment Pending</li>
    </ol>
</nav>

<table id="tableData" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sl.No</th>
            <th scope="col">Name</th>
            <th scope="col">Service Code</th>
            <th scope="col">Pending Payment</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div id="id01" class="modal">
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> -->
    <form style="background-color: #e4e7f5" class="modal-content" action="/action_page.php">
        <div class="container1">
            <h1>Clear Payment</h1>
            <p id="delete-text"></p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn buttonpop">Cancel</button>
                <button type="button" id="deviceDelete" class="deletebtn buttonpop">Clear</button>
            </div>
        </div>
    </form>
</div>
<div id="loading" class="modal modal2">
    <div class="loader spinner"></div>

    <script type="text/javascript">
        function clearPendingClick(id, name) {
            document.getElementById('id01').style.display = 'block'
            $(document).ready(function() {
                $('#delete-text').text(`Are you sure you want to clear the pending payment of '${name}' ?`)
                $('#deviceDelete').attr('onClick', `clearPayment(${id});`);
            })

        }

        function clearPayment(issue_id) {

            eel.clear_pending(issue_id)(function(value) {
                if (value == true) {
                    window.location = ''
                    document.getElementById('id01').style.display = 'none'

                }
            })
        }
        var modal = document.getElementById('id01');
        $(document).ready(function() {
            document.getElementById('loading').style.display = 'block'


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }


            eel.pending_payment()(function(value) {


                console.log(value)
                console.log('service list')
                var table = $('tbody')
                if (value.length == 0) {
                    var table = $('tbody')
                    table.append('<tr><td style="text-align:center;" colspan="5">No data available</td></tr>')
                }
                var tdData = ''
                var card = $('#service-card')

                for (let index = 0; index < value.length; index++) {
                    const element = value[index];
                    console.log(element)

                    var td = document.createElement('tr');
                    var td = `<tr><td scope="row">${index+1}</td><td scope="row">${element[1]}<td><td scope="row">${element[2]}<td><td class="text-danger" scope="row">₹ ${element[3]}<td>
                     <td scope="row"><a style="padding-right:5px;" href="service-details.html?id=${element[0]}"><button type="button"class="btn btn-primary">View</button></a><button  onclick="clearPendingClick(${element[4]},'${element[1]}')" type="button"class="btn btn-success">Clear</button><td> </tr>`

                    tdData = tdData + td

                }


                table.append(tdData)
                document.getElementById('loading').style.display = 'none'
                $("td").each(function() {
                    console.log(this.length)
                    if (this.innerText === '') {
                        this.remove();
                    }
                });

            });
        })
    </script>
    {% endblock %}