<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Booking</title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 10px
        }
        
        .same-line {
            display: inline;
        }
        
        @page {
            size: a4 portrait;
            margin-top: 0.5cm;
        }
    </style>
</head>

<body style="font-size:14px">

    <table style="width: 100%;">
        <tr>
            <td colspan="2">
                <h3 style="text-align: center;">Service Booking</h3>

                <div>
                    {% if tenant.logo %}
                    <p style="float: left;padding-right: 30px;">

                        <img style="width: 100px; height: 100px;" height="20" width="20" src="/images/{{tenant.logo}}" alt="logo">
                    </p>
                    {% endif %}
                    <p>
                        <div style="text-align: right; ">
                            <span>Date: {{date}}</span>
                        </div>

                        <b>{{tenant.name}}</b></br>
                        <span style="font-size:13px"> {{tenant.address}}</span><br> {% if tenant.email %} {{tenant.email}}<br> {% endif %} {% if tenant.contact_number %}
                        <p style="display: inline;">Ph: {{tenant.contact_number}} {% endif %} {% if tenant.contact_number2 %},{{tenant.contact_number2}}{% endif%}</p>
                        <span style="float: right;display: inline;">Service Code: {{service.service_code}}</span>
                        </br>


                        {% if tenant.web_site %}
                        <span style="text-align: left;">{{tenant.web_site}}</span> {% endif %}



                </div>


            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span style="float: left;display: inline;"> Name: {{service.name}}</span> {% if service.location %}
                <span style="float: right;display: inline;">Location: {{service.location}}</span> {% endif %}

                </p>


            </td>

        </tr>
        <tr>
            <td style="text-align: center;">Device Details</td>
            <td style="text-align: center;">Issue Details</td>
        </tr>
        <tr>
            <td>
                {{service.device_details}}<br> {% if service.serial_number %}
                <p style="float: left">Serial Number: {{service.serial_number}}</p> {% endif %}</td>

            <td>{{service.issue}}</td>

        </tr>
    </table>
    <div style="font-size: 12px;padding-top:5px">
        <b> Terms and Condition</b> <br>
        {{tenant.terms}}
    </div>
</body>

</html>