{% extends "base.html" %} {% block title %}Add Product{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
</nav>

<p class="d-flex justify-content-end">
    <a class="btn btn-primary " href="add_product.html">Add Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sl.No</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="loading" class="modal modal2">
    <div class="loader spinner"></div>
</div>
<script>
    $(document).ready(function() {
        document.getElementById('loading').style.display = 'block'
        var table = $('tbody')
        var tdData = ''
        eel.get_product_list()(function(value) {

            for (let index = 0; index < value.length; index++) {
                const element = value[index];
                console.log(element)
                var checkbox = ''

                if (element[2] == 1) {
                    checkbox = `<td><label style="padding:5px" for="status">Enabled</label><input type="checkbox" onclick="changeStatus(${element[0]},${element[2]})" value="${element[0]}" checked name="checkbox" id="status"></td>`
                } else {
                    checkbox = `<td><label style="padding:5px" for="status">Disabled</label><input type="checkbox" onclick="changeStatus(${element[0]},${element[2]})" value="${element[0]}" name="checkbox" id="status"></td>`
                }


                var td = document.createElement('tr');
                var td = `<tr><td scope="row">${index+1}</td><td scope="row">${element[1]}<td>${checkbox}
                     <td scope="row"><a href="service-details.html?id=${element[2]}"><a href="edit_product.html?id=${element[0]}"><button type="button"class="btn btn-primary">Edit</button></a><td> </tr>`

                tdData = tdData + td

            }
            table.append(tdData)
            $("td").each(function() {
                console.log(this.length)

                if (this.innerText === '') {
                    this.remove();
                }
            });
            document.getElementById('loading').style.display = 'none'
        });






    });
    $(document).ready(function() {
        $('[name="checkbox"]').on("click", function() {
            console.log('hello')
        });
    })

    function changeStatus(id, status) {

        if (status == 0) {
            status = 1
        } else {
            status = 0
        }
        console.log(status)
        eel.change_product_status(id, status)(function(value) {
            if (value) {
                window.location = `product_list.html`
            }
        });
    };
</script>

{% endblock %}