{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<div class="card" style="width: 50%">
    <div style="text-align: center;" class="card-header">
        <b><span  id="name"></span></b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Address: </b><span id="address"> </span> </li>
        <li class="list-group-item"><b>Phone 1: </b><span id="phone1"></span> </li>
        <li class="list-group-item"><b>Phone 2: </b> <span id="phone2"></span></li>
        <li class="list-group-item"><b>Email: </b><span id="email"></span> </li>
        <li class="list-group-item"><b>Web site: </b> <span id="website"></span> </li>
        <li class="list-group-item"><b>Logo: </b> <img id="logo" src="" width="50" height="50" alt="logo"> </li>
        <li class="list-group-item"><b>Terms and Condition: </b><span id="terms"> 1)On completion of service, devices need to be taken back within 30 days. 2) It is the customer's responsibility to take the backup of the data before submitting the device. 3) There is no warranty for Service and software
            installation.</span> </li>
    </ul>
    <a style="float: right; padding-top: 10px;" id="add-issue" class="btn  btn-info " href="edit_profile.html" role="button">Edit</a>
</div>

<script>
    $(document).ready(function() {
        eel.get_profile()(function(value) {
            $('#name').text(value[1])
            $('#address').text(value[2])
            $('#phone1').text(value[3])
            $('#phone2').text(value[4])
            $('#email').text(value[5])
            $('#website').text(value[6])
                // $('#logo').text(value[7])
            $('#logo').attr('src', `/images/${value[7]}`)
            $('#terms').text(value[8])
                // for (let index = 0; index < value.status.length; index++) {
                //     const element = value.status[index];
                //     console.log(element)


            // }
        });
    });
</script>

{% endblock %}