{% extends "base.html" %} {% block title %}Report{% endblock %} {% block content %}
</nav>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Reports</li>
        </ol>
    </nav>
</div>
<div class="d-flex justify-content-center">
    <form id="formData">
        <label for="startdate">Start Date <input required type="date" name="startdate" id="enddate"></label>
        <label for="enddate">End Date <input required type="date" name="enddate" id="enddate"></label>
        <input class="btn btn-secondary " type="submit" value="Filter">
        <a class="btn btn-secondary n-line" href="report.html">reset</a>
    </form>
</div>
<div class="row" style="padding-top:20px">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3 " style="max-width: 18rem;">
            <div class="card-header"> Total Service Register </div>
            <div class="card-body" style="text-align:center">
                <h5 id="total-service" class="card-title">197</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 " style="max-width: 18rem;">
            <div class="card-header">Total Revenue Generated</div>
            <div class="card-body" style="text-align:center">
                <h5 id="revenue" class="card-title"></h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3 " style="max-width: 18rem;">
            <div class="card-header">Total Pending Amount</div>
            <div class="card-body" style="text-align:center">
                <h5 id="pending" class="card-title"></h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Service</th>
                <th scope="col">Revenue</th>
                <th scope="col">Pending Amount</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- <a class="btn btn-warning n-line" target="_blank" href="/dashboard/export/data/">Export</a> -->
</div>
<div id="loading" class="modal modal2">
    <div class="loader spinner"></div>
</div>
<script>
    $(document).ready(function() {
        document.getElementById('loading').style.display = 'block'
        eel.get_report()(function(value) {
            console.log(value)
            $('#total-service').text(value['service_total'][0])
            $('#revenue').text('₹ ' + value['revenue'][0])
            $('#pending').text('₹ ' + value['pending_total'][0])
            var table = $('tbody')
            var tdData = ''
            for (let index = 0; index < value.status.length; index++) {
                const element = value.status[index];
                console.log(element)
                var checkbox = ''

                var td = document.createElement('tr');
                var td = `<tr><td>${element[0]}</td><td >${element[1]}<td>${element[2]}
                     </td> <td>${element[3]}
                     </td> </tr>`

                tdData = tdData + td

            }
            table.append(tdData)
            document.getElementById('loading').style.display = 'none'
        });



        $("#formData").submit(function() {

            var startdate = $("[name='startdate']").val()
            var enddate = $("[name='enddate']").val()
            eel.get_report(startdate, enddate)(function(value) {
                console.log(value)
                $('#total-service').text(value['service_total'][0])
                $('#revenue').text('₹ ' + value['revenue'][0])
                $('#pending').text('₹ ' + value['pending_total'][0])
                var table = $('tbody')
                var tdData = ''
                $("#table").find("tr:gt(0)").remove();
                for (let index = 0; index < value.status.length; index++) {
                    const element = value.status[index];
                    console.log(element)
                    var checkbox = ''

                    var td = document.createElement('tr');
                    var td = `<tr><td>${element[0]}</td><td >${element[1]}<td>${element[2]}
                     </td> <td>${element[3]}
                     </td> </tr>`

                    tdData = tdData + td

                }
                table.append(tdData)
                document.getElementById('loading').style.display = 'none'
            });
            return false
        });

    });
</script>
{% endblock %}