{% extends "base.html" %} {% block title %}Service Details{% endblock %} {% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service Details</li>
    </ol>
</nav>


<div class="row">

    <div class="container flex border">
        <div style="display-flux:inline" class="name">

            <p class="w-49" id="name"></p>
            </p>

        </div>

        <div class="card1 w-49 border m-n-p">
            <div>
                <p>
                    <i class="fa ion-ios-telephone"></i>
                    <span id="phone"></span>
                </p>
                <p>
                    <i class="fa ion-email"></i>
                    <span id="email"></span>
                </p>
            </div>
        </div>
        <div class="card2 w-49 m-n-p">
            <p>
                <i class="fa ion-location"></i>
                <span id="location"></span>
            </p>
            <p>
                <i class="fa ion-android-arrow-dropup-circle"></i>
                <span id="code"></span>
            </p>

            <i class="fa ion-android-star"></i>
            <select name="status" id="status">
                    <option  value="0">Open</option>
                    <option   value="1">Closed</option>
                    <option  value="2">Return</option>
                </select>
            <a id="edit-service" role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" href="edit_services.html"><i class="fa ion-edit"></i></a>
            <a target="_blank" role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="card3 w-100 flex border m-n-p">
            <div class="left w-49">
                <p>
                    <i class="fa ion-laptop"></i>
                    <span id="product"></span>
                </p>
                <p>
                    <i class="fa ion-information"></i>
                    <span id="device-details"></span>
                </p>
            </div>
            <div class="right w-49">
                <p>
                    <i class="fa ion-android-arrow-dropright"></i>
                    <span id="vendor"></span>
                </p>
                <p>
                    <i class="fa ion-calendar"></i>
                    <span id="service-date"></span>
                </p>
            </div>
     
        </div>

    </div>
    <div style="padding-top: 5px;" class="space">

        <a style="float: right;" id="add-issue" class="btn  btn-info " href="add_issue.html?id=" role="button">Add Issue</a>
    </div>

    <div id="issues-card" style="width: 100%;">

    </div>




    <hr class="divider">






</div>

</div>
<div id="id01" class="modal">
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> -->
    <form style="background-color: #e4e7f5" class="modal-content" action="/action_page.php">
        <div class="container1">
            <h1>Delete</h1>
            <p id="delete-text"></p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn buttonpop">Cancel</button>
                <button type="button" id="deviceDelete" class="deletebtn buttonpop">Delete</button>
            </div>
        </div>
    </form>
</div>
<div id="loading" class="modal modal2">
    <div class="loader spinner"></div>
</div>
    <script>
        function deleteDeviceClick(id, name) {
            document.getElementById('id01').style.display = 'block'
            $(document).ready(function() {
                $('#delete-text').text(`Are you sure you want to delete this device '${name}' ?`)
                $('#deviceDelete').attr('onClick', `deleteDevice(${id});`);
            })

        }

        function deleteDevice(deviceId) {

            eel.delete_device(deviceId)(function(value) {
                if (value == true) {
                    window.location = ''
                    document.getElementById('id01').style.display = 'none'

                }
            })
        }


        function deleteIssueClick(id, name) {
            document.getElementById('id01').style.display = 'block'
            $(document).ready(function() {
                $('#delete-text').text(`Are you sure you want to delete this Issue '${name}' ?`)
                $('#deviceDelete').attr('onClick', `deleteIssue(${id});`);
            })

        }

        function deleteIssue(issueId) {

            eel.delete_issue(issueId)(function(value) {
                if (value == true) {
                    window.location = ''
                    document.getElementById('id01').style.display = 'none'

                }
            })
        }

        var modal = document.getElementById('id01');



        getParameter = (key) => {

            address = window.location.search


            parameterList = new URLSearchParams(address)

            return parameterList.get(key)
        }

        // Gets the value associated with the key "ie"
        console.log(getParameter("id"))

        $(document).ready(function() {
            document.getElementById('loading').style.display = 'block'


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            var id = getParameter("id")
            eel.get_service_details(id)(function(output) {
                console.log(output)
                var data = output['details'][0]
                var date = new Intl.DateTimeFormat('en-IN', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric'
                    }).format(new Date(data[7]))

                console.log(output)
                    // var loading = document.getElementById('id01');
                    // loading.style.display = 'block'
                
                $('#name').text(data[0])
                $('#phone').text(data[1])
                $('#email').text(data[2])
                $('#location').text(data[10])
                $('#code').text(data[4])
                    // $('#vendor').text(data[10])
                $('#product').text(data[3])
                $("[name='status']").val(data[5])
                $('#device-details').text(data[9])
                $('#assigned').text(data[6])
                $('#vendor').text(output['vendor'][0])
                $('#service-date').text(date)
                console.log(output)
                $('#add-issue').attr("href", `add_issue.html?id=${id}`)
                $('#edit-service').attr("href", `edit_services.html?id=${id}`)



                var issues = output['issues']
                var card = $('#issues-card')
                var divCard = ''
                for (let index = 0; index < issues.length; index++) {
                    const element = issues[index]['issue'];
                    const device = issues[index]['device'];
                    console.log(element)
                    console.log(device)
                    var date = new Intl.DateTimeFormat('en-IN', {
                        year: 'numeric',
                        month: 'short',
                        day: 'numeric'
                    }).format(new Date(element[7]))
                    var device_data = ''
                    if (device.length > 0) {
                        var tr_data = ''
                        for (let index = 0; index < device.length; index++) {
                            const device_item = device[index];
                            var product_date = new Intl.DateTimeFormat('en-IN', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric'
                            }).format(new Date(device_item[7]))

                            var tr = `
                        <tr>
                        <td>${device_item[1]}</td>
                        <td>₹${device_item[6]}</td>
                        <td><span >${product_date}</span></td>
                        <td><a id="edit-service" role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" href="edit_device.html?id=${device_item[0]}"><i class="fa ion-edit"></i></a> 
                        <span id="edit-service" role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" onclick="deleteDeviceClick(${device_item[0]},'${device_item[1]}')"><i  class="fa ion-ios-trash"></i> </span>
                        </td>
                        </tr>
                        `
                            tr_data = tr_data + tr
                        }
                        var device_data = `
                    <table class="table">
                        <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     ${tr_data}
                        </tbody>
                        </table>
                    `
                    }
                    var cardData = `
                 <div class="card4 container flex border" style="margin-bottom: 10px;">
            <div class="left w-49 m-n-p">
                <p>
                    <i class="fa ion-information-circled text-danger"></i>
                    <span>${element[2]}</span>
                </p>
                <p>
                    <i class="fas ion-information-circled"></i>
                    <span>Service Details: ${element[5]}</span>
                </p>
                <p style="display-flux:inline;">

                    <span>Paid Amount: ₹${element[3]}</span>
                </p>
               

               
            </div>
            <div class="right w-49 m-n-p">
                 <p>
                    <i class="fa ion-calendar"></i>
                    <span>${date}</span>
                </p>
                <p>
                    <i class="fa ion-person"></i>
                    <span >${element[6]} </span>
                </p>
       
                 <p>

                    <span>Pending Amount: ₹${element[4]}</span>
                </p>
               
                <span role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" onclick=printSlip(${element[0]})><i class="fa ion-android-print"></i></span>
                <a role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" href="edit_issue.html?id=${element[0]}"><i class="fa ion-edit"></i></a>
                <span id="edit-service" role="button" class="btn btn-link" style="display-flux:inline;float:right;font-size: 28px;" onclick="deleteIssueClick(${element[0]},'${element[2]}')"><i  class="fa ion-ios-trash"></i> </span>
                <a style="float: right;display-flux:inline;" class="btn btn-secondary" href="add_device.html?id=${element[0]}" role="button">Add Product</a>
            </div>
        <div>
            ${device_data}
        </div>
        </div>
                `
                    divCard = divCard + cardData
                }
                // debugger;
                // card.html(divCard)
                card.append(divCard)

                document.getElementById('loading').style.display = 'none'

            })

            $("#status").change(function() {
                var statu =  $('option:selected', this).val()
                eel.change_service_status(id,statu)(function(output) {
               console.log(output)
               if (output==true){
                toastr.success("Status Changed Successfuly");
               }


            });
       
    });

        });

        function printSlip(issue_id) {
            eel.print_issue(issue_id)(function(output) {
                window.open(`print-slip.html`, "_blank", "_parent");


            });
        }
        
    </script>
    {% endblock %}